[Desktop Entry]
Version=1.0
Type=Application
Name=Files
Comment=Browse the filesystem
Exec=nemo
Icon=system-file-manager
Terminal=false
Categories=System;FileManager;
StartupNotify=true
