[Desktop Entry]
Version=1.0
Type=Application
Name=Metasploit
Comment=Penetration testing framework
Exec=xterm -e msfconsole
Icon=metasploit
Terminal=true
Categories=System;Security;
