[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
Comment=Revenant OS Terminal
Exec=gnome-terminal
Icon=utilities-terminal
Categories=System;TerminalEmulator;
